.flex-contents {
    /* max-width: 1200px; */
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 0 32px;
    align-items: center;
    background-image: url(/hello-world/discord/image/b7e9dce75f9edb23504e13b4699e208f204e5015.png);
    background-position: center;
    background-size: cover;
    height: 400px;
    flex-direction: column;
    
}

.help-container {
    text-align: center;
    padding-top: 90px;
    color: white;
    font-size: 40px;
    margin-bottom: 80px;
    font-weight: 900;
}

.search-container {
    /* background-color: white; */
    /* width: 100%; */
    /* border: none; */
    /* align-items: center; */
    
}

#input-con {
    /* display: none; */
    /* background-color: inherit; */
    box-sizing: border-box;
    border: none;
}

#search {
    box-sizing: border-box;
    padding-left: 40px;
    padding-right: 20px;
}



section a {
    text-decoration: none;
    color: black;
}

.line {
    border-top: 1px solid gray;
}

/* #title {
    max-width: 1200px;
    margin: 0 auto;
} */

.title {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
.help-contents {
    text-align: center;
    margin-top: 60px;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 900;
}

.help-comment {
    text-align: center;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 50px;
}

.title > p > a {
    color: blue;
}
.category-grid {
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 80px;
    
}

.flex-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 10px;
    /* max-width: 1200px; */
    margin: 0 auto;
    box-sizing: border-box;
    /* justify-content: space-between; */
    /* flex-direction: column; */
    gap: 6px;
}

.flex-item-announcements {
    margin: 0 auto;
    /* margin: 5px; */
    width: 250px;
    height: 250px;
    box-sizing: border-box;
    border: 1px solid #808080;
    text-align: center;
    font-size: 14px;
}
.flex-item-announcements img {
    width: 200px;
    height: 100px;
    box-sizing: border-box;
}

.flex-item-title {
    font-size: 20px;
    margin: 20px;
    color: blue;
}
.flex-item-announcements  p {
    font-size: 14px;
}
.line {
    border: 1px solid  gray;
    width: 50px;
    margin: 0 auto;
}

.flex-item-announcements  p {
    margin-top: 16px;
    font-size: 14px;
    font-weight: 500;
    color: #808080;
}

.other-help-title {
    /* max-width: 1200px; */
    margin: 0 auto;
    margin-top: 80px;
    margin-bottom: 50px;
    font-weight: 500;
    font-size: 30px;
    text-align: center;
}
