.footer-container {
    /* max-width: 1200px; */
    background-color: black;

}
.footer-main-container {
    max-width: 1200px;
    margin: 0 auto;
    width: 100px;    
}
.img-container {
background-image: url(/hello-world/discord/image/2a944f43170f2222e136854fe9c9e2c9ea6a1971.svg);
background-position: center;
/* background-size: 10px; */
object-fit: cover;
object-position: center;
}