a {
    text-decoration: none;

}
.header-container {
    max-width: 1200px;
    padding: 0 32px;
    margin: 0 auto;
    background-color: transparent;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-login {
    display: none;
}

.header {
    width: 300px;
    overflow: hidden;
    margin: 150px auto;
}

.header-list-nav > li {
    width: 20%;
    text-align: center;
    line-height: 40px;
}

.